body{
  background-color:bisque;
}

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form label {
    margin-bottom: 8px;
  }
  
  .signup-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .signup-form button {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #218838;
  }
  
  .signup-form p {
    margin-top: 15px;
    text-align: center;
  }
  
  /* Responsive styles for smaller screens */
  @media only screen and (max-width: 600px) {
    .signup-container {
      width: 100%;
      padding: 10px;
    }
  }
  